In [384]:
import json
import pandas as pd
import numpy as np

# Part 1: Reading and investigating data

Open up the `player_data.json` and investigate the data structure.

In [385]:

#your code here
f = open('player_data.json')
data = json.load(f)

# Part 2:  Creating the Dataframe

Create a data frame where each row corresponds to a game for each player. You must have atleast the following columns in your final dataframe:

'DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ID', 'AST', 'BLK', 'DREB','Game_ID',  'MIN', 'PTS', 'REB', 'TEAM_ABBREVIATION'

*You can include additional columns in your dataframe, so you don't have to do additional work to remove other columns.*

In [314]:
df = pd.DataFrame()

for person in data:
    if len(person['GAMELOG']) == 0:
        continue # to get rid of players that never played a single game
    df1 = pd.DataFrame(person, columns=['DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ID'], index=[0])
    df2 = pd.DataFrame(person['GAMELOG'])
    merged = pd.merge(df1, df2, left_on='PERSON_ID', right_on='Player_ID', how='outer')
    df = pd.concat([df, merged])
    
df.reset_index(drop=True, inplace=True)

In [315]:
df

,DISPLAY_FIRST_LAST,PERSON_ID,TEAM_ID_x,AST,BLK,DREB,FG3A,FG3M,FG3_PCT,FGA,...,PTS,Player_ID,REB,SEASON_ID,STL,TEAM_ABBREVIATION,TEAM_ID_y,TOV,VIDEO_AVAILABLE,WL
0,Alex Abrines,203518,0,0,0,0,1,0,0.000,2,...,0,203518,0,22018,0,OKC,1610612760,0,1,W
1,Alex Abrines,203518,0,0,0,1,2,1,0.500,2,...,3,203518,1,22018,0,OKC,1610612760,0,1,W
2,Alex Abrines,203518,0,0,2,1,5,1,0.200,6,...,7,203518,1,22018,0,OKC,1610612760,0,1,L
3,Alex Abrines,203518,0,0,0,1,4,2,0.500,4,...,6,203518,1,22018,0,OKC,1610612760,0,1,W
4,Alex Abrines,203518,0,1,0,1,7,3,0.429,7,...,9,203518,1,22018,0,OKC,1610612760,0,1,W
5,Alex Abrines,203518,0,0,0,1,3,2,0.667,4,...,8,203518,3,22018,1,OKC,1610612760,0,1,W
6,Alex Abrines,203518,0,0,0,4,2,0,0.000,4,...,6,203518,4,22018,0,OKC,1610612760,0,1,W
7,Alex Abrines,203518,0,0,0,0,1,0,0.000,1,...,0,203518,0,22018,0,OKC,1610612760,1,1,L
8,Alex Abrines,203518,0,2,0,1,5,1,0.200,6,...,5,203518,1,22018,1,OKC,1610612760,0,1,L
9,Alex Abrines,203518,0,0,0,3,1,0,0.000,2,...,0,203518,3,22018,1,OKC,1610612760,2,1,W
10,Alex Abrines,203518,0,1,0,3,4,1,0.250,4,...,3,203518,3,22018,0,OKC,1610612760,1,1,L
11,Alex Abrines,203518,0,1,0,1,2,0,0.000,2,...,0,203518,1,22018,3,OKC,1610612760,1,1,W
12,Alex Abrines,203518,0,1,0,1,2,0,0.000,3,...,2,203518,1,22018,0,OKC,1610612760,1,1,W
13,Alex Abrines,203518,0,1,0,2,11,7,0.636,11,...,21,203518,2,22018,0,OKC,1610612760,0,1,W
14,Alex Abrines,203518,0,1,0,2,8,1,0.125,9,...,3,203518,3,22018,0,OKC,1610612760,0,1,W
15,Alex Abrines,203518,0,1,0,1,2,0,0.000,2,...,0,203518,1,22018,0,OKC,1610612760,0,1,L
16,Alex Abrines,203518,0,0,0,0,1,0,0.000,1,...,0,203518,0,22018,0,OKC,1610612760,0,1,W
17,Alex Abrines,203518,0,0,0,0,1,0,0.000,2,...,0,203518,0,22018,0,OKC,1610612760,1,1,W
18,Alex Abrines,203518,0,2,1,2,6,2,0.333,6,...,8,203518,2,22018,2,OKC,1610612760,1,1,W
19,Alex Abrines,203518,0,0,0,2,4,2,0.500,6,...,6,203518,2,22018,0,OKC,1610612760,1,1,L
20,Alex Abrines,203518,0,0,0,3,3,0,0.000,3,...,0,203518,4,22018,1,OKC,1610612760,1,1,W
21,Alex Abrines,203518,0,0,0,0,10,3,0.300,12,...,9,203518,0,22018,1,OKC,1610612760,0,1,W
22,Alex Abrines,203518,0,3,0,4,2,1,0.500,4,...,7,203518,4,22018,0,OKC,1610612760,1,1,W
23,Alex Abrines,203518,0,2,2,1,7,2,0.286,8,...,8,203518,1,22018,0,OKC,1610612760,0,1,W
24,Alex Abrines,203518,0,0,0,2,10,5,0.500,15,...,25,203518,2,22018,0,OKC,1610612760,0,1,W
25,Alex Abrines,203518,0,0,1,0,1,1,1.000,2,...,3,203518,0,22018,4,OKC,1610612760,1,1,W
26,Alex Abrines,203518,0,0,0,1,3,0,0.000,5,...,2,203518,1,22018,2,OKC,1610612760,0,1,W
27,Alex Abrines,203518,0,1,0,1,5,2,0.400,5,...,6,203518,1,22018,0,OKC,1610612760,0,1,L
28,Alex Abrines,203518,0,2,0,1,1,0,0.000,1,...,0,203518,1,22018,0,OKC,1610612760,0,1,L
29,Alex Abrines,203518,0,1,0,1,7,2,0.286,10,...,10,203518,2,22018,1,OKC,1610612760,2,1,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26071,Ivica Zubac,1627826,1610612746,3,0,0,0,0,0.000,5,...,7,1627826,2,22018,0,LAL,1610612747,2,1,L
26072,Ivica Zubac,1627826,1610612746,0,4,11,0,0,0.000,16,...,24,1627826,16,22018,0,LAL,1610612747,2,1,W
26073,Ivica Zubac,1627826,1610612746,1,0,4,0,0,0.000,12,...,10,1627826,8,22018,0,LAL,1610612747,4,1,L
26074,Ivica Zubac,1627826,1610612746,0,1,4,0,0,0.000,8,...,18,1627826,4,22018,0,LAL,1610612747,2,1,L
26075,Ivica Zubac,1627826,1610612746,1,1,5,0,0,0.000,6,...,17,1627826,7,22018,0,LAL,1610612747,0,1,L
26076,Ivica Zubac,1627826,1610612746,1,0,6,0,0,0.000,14,...,26,1627826,12,22018,0,LAL,1610612747,4,1,W
26077,Ivica Zubac,1627826,1610612746,1,0,3,0,0,0.000,2,...,7,1627826,3,22018,0,LAL,1610612747,0,1,W
26078,Ivica Zubac,1627826,1610612746,0,2,2,0,0,0.000,3,...,5,1627826,2,22018,0,LAL,1610612747,0,1,L
26079,Ivica Zubac,1627826,1610612746,1,1,3,0,0,0.000,10,...,10,1627826,5,22018,0,LAL,1610612747,0,1,L
26080,Ivica Zubac,1627826,1610612746,1,0,6,0,0,0.000,8,...,11,1627826,9,22018,1,LAL,1610612747,0,1,W
26081,Ivica Zubac,1627826,1610612746,0,0,1,0,0,0.000,2,...,4,1627826,2,22018,0,LAL,1610612747,1,1,W
26082,Ivica Zubac,1627826,1610612746,0,0,6,0,0,0.000,6,...,9,1627826,8,22018,0,LAL,1610612747,2,1,L
26083,Ivica Zubac,1627826,1610612746,2,1,4,0,0,0.000,6,...,10,1627826,6,22018,0,LAL,1610612747,1,1,L
26084,Ivica Zubac,1627826,1610612746,1,1,1,0,0,0.000,4,...,8,1627826,2,22018,0,LAL,1610612747,1,1,L
26085,Ivica Zubac,1627826,1610612746,3,1,0,0,0,0.000,8,...,7,1627826,2,22018,0,LAL,1610612747,2,1,L
26086,Ivica Zubac,1627826,1610612746,0,1,3,0,0,0.000,8,...,6,1627826,5,22018,0,LAL,1610612747,1,1,L
26087,Ivica Zubac,1627826,1610612746,2,2,8,0,0,0.000,10,...,18,1627826,11,22018,0,LAL,1610612747,1,1,W
26088,Ivica Zubac,1627826,1610612746,1,4,3,0,0,0.000,12,...,19,1627826,4,22018,0,LAL,1610612747,1,1,L
26089,Ivica Zubac,1627826,1610612746,0,2,9,0,0,0.000,10,...,16,1627826,11,22018,2,LAL,1610612747,1,1,W
26090,Ivica Zubac,1627826,1610612746,1,1,0,0,0,0.000,1,...,0,1627826,0,22018,0,LAL,1610612747,0,1,L
26091,Ivica Zubac,1627826,1610612746,1,0,2,0,0,0.000,2,...,4,1627826,2,22018,0,LAL,1610612747,0,1,L
26092,Ivica Zubac,1627826,1610612746,0,0,1,0,0,0.000,4,...,6,1627826,1,22018,0,LAL,1610612747,0,1,W
26093,Ivica Zubac,1627826,1610612746,0,1,2,0,0,0.000,0,...,0,1627826,2,22018,0,LAL,1610612747,0,1,W
26094,Ivica Zubac,1627826,1610612746,0,0,1,0,0,0.000,0,...,0,1627826,1,22018,0,LAL,1610612747,0,1,W
26095,Ivica Zubac,1627826,1610612746,0,1,1,0,0,0.000,2,...,0,1627826,2,22018,0,LAL,1610612747,1,1,L
26096,Ivica Zubac,1627826,1610612746,0,0,1,0,0,0.000,2,...,0,1627826,2,22018,0,LAL,1610612747,0,1,W
26097,Ivica Zubac,1627826,1610612746,1,0,4,0,0,0.000,3,...,5,1627826,6,22018,0,LAL,1610612747,1,1,L
26098,Ivica Zubac,1627826,1610612746,0,0,4,0,0,0.000,5,...,9,1627826,8,22018,1,LAL,1610612747,2,1,W
26099,Ivica Zubac,1627826,1610612746,1,0,1,0,0,0.000,1,...,0,1627826,2,22018,0,LAL,1610612747,0,1,W
26100,Ivica Zubac,1627826,1610612746,0,1,0,0,0,0.000,1,...,0,1627826,1,22018,0,LAL,1610612747,0,1,L

In [316]:
dff = df.filter(['DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ID', 'AST', 'BLK', 'DREB','Game_ID', 'MIN', 'PTS', 'REB', 'TEAM_ABBREVIATION'])

In [317]:
dff

,DISPLAY_FIRST_LAST,PERSON_ID,AST,BLK,DREB,Game_ID,MIN,PTS,REB,TEAM_ABBREVIATION
0,Alex Abrines,203518,0,0,0,0021800772,9,0,0,OKC
1,Alex Abrines,203518,0,0,1,0021800751,6,3,1,OKC
2,Alex Abrines,203518,0,2,1,0021800493,27,7,1,OKC
3,Alex Abrines,203518,0,0,1,0021800485,16,6,1,OKC
4,Alex Abrines,203518,1,0,1,0021800466,23,9,1,OKC
5,Alex Abrines,203518,0,0,1,0021800447,14,8,3,OKC
6,Alex Abrines,203518,0,0,4,0021800434,20,6,4,OKC
7,Alex Abrines,203518,0,0,0,0021800426,19,0,0,OKC
8,Alex Abrines,203518,2,0,1,0021800411,14,5,1,OKC
9,Alex Abrines,203518,0,0,3,0021800396,19,0,3,OKC
10,Alex Abrines,203518,1,0,3,0021800373,15,3,3,OKC
11,Alex Abrines,203518,1,0,1,0021800358,19,0,1,OKC
12,Alex Abrines,203518,1,0,1,0021800343,18,2,1,OKC
13,Alex Abrines,203518,1,0,2,0021800325,26,21,2,OKC
14,Alex Abrines,203518,1,0,2,0021800313,27,3,3,OKC
15,Alex Abrines,203518,1,0,1,0021800282,8,0,1,OKC
16,Alex Abrines,203518,0,0,0,0021800274,7,0,0,OKC
17,Alex Abrines,203518,0,0,0,0021800209,7,0,0,OKC
18,Alex Abrines,203518,2,1,2,0021800196,20,8,2,OKC
19,Alex Abrines,203518,0,0,2,0021800181,26,6,2,OKC
20,Alex Abrines,203518,0,0,3,0021800163,19,0,4,OKC
21,Alex Abrines,203518,0,0,0,0021800153,26,9,0,OKC
22,Alex Abrines,203518,3,0,4,0021800144,30,7,4,OKC
23,Alex Abrines,203518,2,2,1,0021800119,24,8,1,OKC
24,Alex Abrines,203518,0,0,2,0021800111,30,25,2,OKC
25,Alex Abrines,203518,0,1,0,0021800103,15,3,0,OKC
26,Alex Abrines,203518,0,0,1,0021800085,24,2,1,OKC
27,Alex Abrines,203518,1,0,1,0021800065,19,6,1,OKC
28,Alex Abrines,203518,2,0,1,0021800037,5,0,1,OKC
29,Alex Abrines,203518,1,0,1,0021800025,32,10,2,OKC
...,...,...,...,...,...,...,...,...,...,...
26071,Ivica Zubac,1627826,3,0,0,0021800755,17,7,2,LAL
26072,Ivica Zubac,1627826,0,4,11,0021800743,35,24,16,LAL
26073,Ivica Zubac,1627826,1,0,4,0021800719,21,10,8,LAL
26074,Ivica Zubac,1627826,0,1,4,0021800701,21,18,4,LAL
26075,Ivica Zubac,1627826,1,1,5,0021800686,21,17,7,LAL
26076,Ivica Zubac,1627826,1,0,6,0021800670,28,26,12,LAL
26077,Ivica Zubac,1627826,1,0,3,0021800656,8,7,3,LAL
26078,Ivica Zubac,1627826,0,2,2,0021800644,11,5,2,LAL
26079,Ivica Zubac,1627826,1,1,3,0021800627,14,10,5,LAL
26080,Ivica Zubac,1627826,1,0,6,0021800616,23,11,9,LAL
26081,Ivica Zubac,1627826,0,0,1,0021800596,4,4,2,LAL
26082,Ivica Zubac,1627826,0,0,6,0021800585,19,9,8,LAL
26083,Ivica Zubac,1627826,2,1,4,0021800574,12,10,6,LAL
26084,Ivica Zubac,1627826,1,1,1,0021800562,10,8,2,LAL
26085,Ivica Zubac,1627826,3,1,0,0021800526,19,7,2,LAL
26086,Ivica Zubac,1627826,0,1,3,0021800514,20,6,5,LAL
26087,Ivica Zubac,1627826,2,2,8,0021800500,31,18,11,LAL
26088,Ivica Zubac,1627826,1,4,3,0021800496,33,19,4,LAL
26089,Ivica Zubac,1627826,0,2,9,0021800478,32,16,11,LAL
26090,Ivica Zubac,1627826,1,1,0,0021800453,2,0,0,LAL
26091,Ivica Zubac,1627826,1,0,2,0021800439,7,4,2,LAL
26092,Ivica Zubac,1627826,0,0,1,0021800430,12,6,1,LAL
26093,Ivica Zubac,1627826,0,1,2,0021800384,3,0,2,LAL
26094,Ivica Zubac,1627826,0,0,1,0021800337,4,0,1,LAL
26095,Ivica Zubac,1627826,0,1,1,0021800304,7,0,2,LAL
26096,Ivica Zubac,1627826,0,0,1,0021800183,2,0,2,LAL
26097,Ivica Zubac,1627826,1,0,4,0021800139,11,5,6,LAL
26098,Ivica Zubac,1627826,0,0,4,0021800132,20,9,8,LAL
26099,Ivica Zubac,1627826,1,0,1,0021800060,2,0,2,LAL
26100,Ivica Zubac,1627826,0,1,0,0021800048,5,0,1,LAL

# Part 3: Pandas Questions

Answer the following questions

## 1 
- Find the player who scored the most points in an individual game last season.

-  Now do the same for rebounds, blocks, and assists.

In [396]:
# Your code here
dff.groupby(['PERSON_ID', 'DISPLAY_FIRST_LAST', 'TEAM_ABBREVIATION']).sum().sort_values(by='DISPLAY_FIRST_LAST')

                                                 AST  BLK  DREB   MIN   PTS  \
PERSON_ID DISPLAY_FIRST_LAST  TEAM_ABBREVIATION
203932    Aaron Gordon        ORL                289   56   445  2629  1246
1628988   Aaron Holiday       IND                 87   13    62   645   294
1627846   Abdel Nader         OKC                 20   12   102   695   241
201143    Al Horford          BOS                283   86   338  1970   925
202329    Al-Farouq Aminu     POR                104   33   498  2290   760
1626210   Alan Williams       BKN                  3    0    15    26    18
202692    Alec Burks          SAC                 10    1    20   129    22
                              UTA                 20    4    25   270   143
                              CLE                 98   16   160   980   396
203518    Alex Abrines        OKC                 20    6    43   587   165
1627936   Alex Caruso         LAL                 77    9    47   531   229
203458    Alex Len            ATL                 86   69   266  1548   854
1627816   Alex Poythress      ATL                 17   10    47   304   107
1628035   Alfonzo McKinnie    GSW                 31   15   166  1003   337
1628993   Alize Johnson       IND                  1    3    15    63    13
203459    Allen Crabbe        BKN                 46   13   132  1134   413
1629019   Allonzo Trier       NYK                119   14   166  1460   695
1628518   Amile Jefferson     ORL                  3    3    15    68    27
101161    Amir Johnson        PHI                 60   13   100   530   201
203083    Andre Drummond      DET                112  138   809  2646  1370
2738      Andre Iguodala      GSW                216   51   204  1575   389
201281    Andre Ingram        LAL                  0    0     1    14     0
101106    Andrew Bogut        GSW                 11    8    43   135    39
1626150   Andrew Harrison     NOP                  7    0     3    38     9
                              CLE                 17    2    11   143    43
                              MEM                  0    0     0     5     2
203952    Andrew Wiggins      MIN                184   48   269  2540  1321
1629014   Anfernee Simons     POR                 13    0    10   139    75
1629116   Angel Delgado       LAC                  0    0     2    15     3
1627790   Ante Zizic          CLE                 53   22   212  1084   459
...                                              ...  ...   ...   ...   ...
203506    Victor Oladipo      IND                186   11   181  1151   675
1713      Vince Carter        ATL                 87   27   163  1326   562
1629053   Vincent Edwards     HOU                  0    0     1    16     3
1627735   Wade Baldwin IV     POR                 12    2    13    95    30
1627215   Walter Lemon Jr.    CHI                 30    1    23   167    86
201961    Wayne Ellington     MIA                 29    3    41   533   209
                              DET                 43    3    52   763   336
1627782   Wayne Selden        MEM                 36    6    28   452   172
                              CHI                 73    7   115   984   342
1628976   Wendell Carter Jr.  CHI                 78   58   220  1112   455
1628411   Wes Iwundu          ORL                 73   22   147  1230   339
202325    Wesley Johnson      NOP                 16    7    44   379    95
                              WAS                  7    5    16   159    33
202083    Wesley Matthews     DAL                100   12    82  1311   575
                              NYK                  5    1     2    53    14
                              IND                 55    4    54   726   251
203115    Will Barton         DEN                124   22   167  1189   494
1626161   Willie Cauley-Stein SAC                194   51   497  2216   965
1626195   Willy Hernangomez   CHA                 60   20   194   812   421
201163    Wilson Chandler     LAC                 10    3    43   225    64
                              PHI                 72   18   124   952   241
1628999   Yante Maten         MIA                  0    0     2    13     2
1627812   Yogi Ferrell        SAC                137    4    96  1072   420
1629139   Yuta Watanabe       MEM                  8    1    27   176    39
1628380   Zach Collins        POR                 71   66   215  1353   512
203897    Zach LaVine         CHI                283   26   254  2170  1492
1629155   Zach Lofton         DET                  0    0     0     4     0
2585      Zaza Pachulia       DET                 91   17   166   879   267
1629015   Zhaire Smith        PHI                 10    2    10   112    40
1627753   Zhou Qi             HOU                  0    0     0     1     2

                                                  REB
PERSON_ID DISPLAY_FIRST_LAST  TEAM_ABBREVIATION
203932    Aaron Gordon        ORL                 574
1628988   Aaron Holiday       IND                  67
1627846   Abdel Nader         OKC                 116
201143    Al Horford          BOS                 458
202329    Al-Farouq Aminu     POR                 610
1626210   Alan Williams       BKN                  19
202692    Alec Burks          SAC                  22
                              UTA                  27
                              CLE                 186
203518    Alex Abrines        OKC                  48
1627936   Alex Caruso         LAL                  67
203458    Alex Len            ATL                 424
1627816   Alex Poythress      ATL                  76
1628035   Alfonzo McKinnie    GSW                 247
1628993   Alize Johnson       IND                  19
203459    Allen Crabbe        BKN                 148
1629019   Allonzo Trier       NYK                 197
1628518   Amile Jefferson     ORL                  21
101161    Amir Johnson        PHI                 147
203083    Andre Drummond      DET                1232
2738      Andre Iguodala      GSW                 252
201281    Andre Ingram        LAL                   2
101106    Andrew Bogut        GSW                  55
1626150   Andrew Harrison     NOP                   5
                              CLE                  15
                              MEM                   0
203952    Andrew Wiggins      MIN                 352
1629014   Anfernee Simons     POR                  13
1629116   Angel Delgado       LAC                   4
1627790   Ante Zizic          CLE                 320
...                                               ...
203506    Victor Oladipo      IND                 202
1713      Vince Carter        ATL                 194
1629053   Vincent Edwards     HOU                   2
1627735   Wade Baldwin IV     POR                  15
1627215   Walter Lemon Jr.    CHI                  27
201961    Wayne Ellington     MIA                  47
                              DET                  60
1627782   Wayne Selden        MEM                  44
                              CHI                 136
1628976   Wendell Carter Jr.  CHI                 307
1628411   Wes Iwundu          ORL                 184
202325    Wesley Johnson      NOP                  54
                              WAS                  18
202083    Wesley Matthews     DAL                 102
                              NYK                   3
                              IND                  65
203115    Will Barton         DEN                 199
1626161   Willie Cauley-Stein SAC                 678
1626195   Willy Hernangomez   CHA                 311
201163    Wilson Chandler     LAC                  47
                              PHI                 168
1628999   Yante Maten         MIA                   3
1627812   Yogi Ferrell        SAC                 109
1629139   Yuta Watanabe       MEM                  31
1628380   Zach Collins        POR                 324
203897    Zach LaVine         CHI                 294
1629155   Zach Lofton         DET                   0
2585      Zaza Pachulia       DET                 265
1629015   Zhaire Smith        PHI                  13
1627753   Zhou Qi             HOU                   0

[622 rows x 6 columns]

In [392]:
dff.loc[dff['PTS'].idmax()]

AttributeError: 'Series' object has no attribute 'idmax'

In [399]:
dff.groupby(['Game_ID']).max().sort_values(by='PTS', ascending = False).head()

,DISPLAY_FIRST_LAST,PERSON_ID,AST,BLK,DREB,MIN,PTS,REB,TEAM_ABBREVIATION
Game_ID,,,,,,,,,
0021800710,Tim Hardaway Jr.,1629109,6,3,9,40,61,15,NYK
0021801084,Rudy Gay,1629022,8,5,14,38,61,16,SAS
0021800225,Wilson Chandler,1629013,9,2,10,45,60,11,PHI
0021801105,Troy Daniels,1629059,7,2,6,41,59,10,UTA
0021800925,Rodney McGruder,1629109,10,2,8,44,58,11,MIA

In [319]:
dff.groupby(['DISPLAY_FIRST_LAST']).max().sort_values(by='PTS', ascending = False).head(2)

,PERSON_ID,AST,BLK,DREB,Game_ID,MIN,PTS,REB,TEAM_ABBREVIATION
DISPLAY_FIRST_LAST,,,,,,,,,
James Harden,201935,17,4,13,0021801218,47,61,15,HOU
Kemba Walker,202689,13,2,10,0021801222,45,60,11,CHA

In [320]:
dff.groupby(['DISPLAY_FIRST_LAST']).max().sort_values(by='REB', ascending = False).head(2)

,PERSON_ID,AST,BLK,DREB,Game_ID,MIN,PTS,REB,TEAM_ABBREVIATION
DISPLAY_FIRST_LAST,,,,,,,,,
Karl-Anthony Towns,1626157,7,6,19,0021801197,43,42,27,MIN
Anthony Davis,203076,9,5,21,0021801099,43,48,26,NOP

In [321]:
dff.groupby(['DISPLAY_FIRST_LAST']).max().sort_values(by='AST', ascending = False).head(2)

,PERSON_ID,AST,BLK,DREB,Game_ID,MIN,PTS,REB,TEAM_ABBREVIATION
DISPLAY_FIRST_LAST,,,,,,,,,
Russell Westbrook,201566,24,2,17,0021801226,50,44,20,OKC
Kyrie Irving,202681,18,2,9,0021801203,43,43,11,BOS

## 2: 

- Find the player who scored the most points for the entire season.

- Now do the same for rebounds, blocks, and assists.

In [322]:
#your code here
dff.groupby(['PERSON_ID', 'DISPLAY_FIRST_LAST', 'TEAM_ABBREVIATION']).sum().sort_values(by='PTS', ascending = False).head(2)

,,,AST,BLK,DREB,MIN,PTS,REB
PERSON_ID,DISPLAY_FIRST_LAST,TEAM_ABBREVIATION,,,,,,
201935,James Harden,HOU,586,58,452,2870,2818,518
202331,Paul George,OKC,318,34,523,2844,2159,628

In [323]:
#your code here
dff.groupby(['PERSON_ID', 'DISPLAY_FIRST_LAST', 'TEAM_ABBREVIATION']).sum().sort_values(by='BLK', ascending = False).head(2)

,,,AST,BLK,DREB,MIN,PTS,REB
PERSON_ID,DISPLAY_FIRST_LAST,TEAM_ABBREVIATION,,,,,,
1626167,Myles Turner,IND,115,199,430,2119,984,531
203497,Rudy Gobert,UTA,161,187,732,2579,1284,1041

In [324]:
#your code here
dff.groupby(['PERSON_ID', 'DISPLAY_FIRST_LAST', 'TEAM_ABBREVIATION']).sum().sort_values(by='REB', ascending = False).head(2)

,,,AST,BLK,DREB,MIN,PTS,REB
PERSON_ID,DISPLAY_FIRST_LAST,TEAM_ABBREVIATION,,,,,,
203083,Andre Drummond,DET,112,138,809,2646,1370,1232
203497,Rudy Gobert,UTA,161,187,732,2579,1284,1041

In [325]:
#your code here
dff.groupby(['PERSON_ID', 'DISPLAY_FIRST_LAST', 'TEAM_ABBREVIATION']).sum().sort_values(by='AST', ascending = False).head(2)

,,,AST,BLK,DREB,MIN,PTS,REB
PERSON_ID,DISPLAY_FIRST_LAST,TEAM_ABBREVIATION,,,,,,
201566,Russell Westbrook,OKC,784,33,698,2634,1675,807
1629027,Trae Young,ATL,653,15,237,2503,1549,301

## 3:
How many players played in at least 82 games last season?

In [326]:
#your code here
#your code here
pd.DataFrame(dff.groupby(['DISPLAY_FIRST_LAST'])['DISPLAY_FIRST_LAST'].count()).query('DISPLAY_FIRST_LAST == 82').shape

(21, 1)

In [327]:
def test_loc(df, to_count):
    list1= []
    for i in df.index:
        val = df.loc[i,to_count]
        list1.append(val)
    return len(set(list1))

In [328]:
test_loc(dff, 'DISPLAY_FIRST_LAST')

530

In [409]:
#tutorial answers
(dff['DISPLAY_FIRST_LAST'].value_counts()>=82).sum()

21

In [410]:
#tutorial answers
games = dff.groupby('DISPLAY_FIRST_LAST')['AST'].count()
len(games[games>=82])

21

## 4: 
- Find which team scored the most points for the entire season.

- Now do the same for rebounds, blocks, and assists.

In [329]:
#your code herea
dff.groupby(['TEAM_ABBREVIATION']).sum().sort_values(by='PTS', ascending = False).head(2)

                   PERSON_ID   AST  BLK  DREB    MIN   PTS   REB
TEAM_ABBREVIATION
MIL                628824724  2136  486  3316  19786  9686  4078
GSW                717451510  2413  525  2990  19806  9650  3787

In [330]:
#your code herea
dff.groupby(['TEAM_ABBREVIATION']).sum().sort_values(by='REB', ascending = False).head(2)

                   PERSON_ID   AST  BLK  DREB    MIN   PTS   REB
TEAM_ABBREVIATION
MIL                628824724  2136  486  3316  19786  9686  4078
OKC                519223060  1917  425  2911  19866  9387  3942

In [331]:
#your code herea
dff.groupby(['TEAM_ABBREVIATION']).sum().sort_values(by='BLK', ascending = False).head(2)

                   PERSON_ID   AST  BLK  DREB    MIN   PTS   REB
TEAM_ABBREVIATION
GSW                717451510  2413  525  2990  19806  9650  3787
MIL                628824724  2136  486  3316  19786  9686  4078

In [412]:
#tutorial answers
grouped_season = dff.groupby(['TEAM_ABBREVIATION'])['PTS'].sum()
grouped_season.nlargest(1, keep = 'first')

TEAM_ABBREVIATION
MIL    9686
Name: PTS, dtype: int64

## 5:
Which team had the most players play for them last season?

In [332]:
df.groupby(['TEAM_ABBREVIATION', 'DISPLAY_FIRST_LAST']).size().groupby(level=0).count().sort_values(ascending=False).head(2)

TEAM_ABBREVIATION
MEM    28
CLE    27
dtype: int64

In [413]:
# tutorial answer
n_players = df.groupby('TEAM_ABBREVIATION')['PERSON_ID'].nunique()
n_players.loc[n_players.apply(lambda x: x >= n_players.max())]

TEAM_ABBREVIATION
MEM    28
Name: PERSON_ID, dtype: int64

## 6:
- Did any players play for more than one team last year?

- What is the most number of teams a player played for last season?

In [421]:
dumy_df.size().groupby(level=0).count().sort_values(ascending=False)

DISPLAY_FIRST_LAST
Andrew Harrison            3
Jason Smith                3
Isaiah Canaan              3
Alec Burks                 3
Greg Monroe                3
Wesley Matthews            3
Marquese Chriss            2
Garrett Temple             2
Nik Stauskas               2
Brandon Knight             2
Corey Brewer               2
Delon Wright               2
Ivica Zubac                2
Ron Baker                  2
Thon Maker                 2
Bobby Portis               2
Nikola Mirotic             2
Tim Frazier                2
Tim Hardaway Jr.           2
Timothe Luwawu-Cabarrot    2
Tobias Harris              2
Boban Marjanovic           2
Dario Saric                2
Dennis Smith Jr.           2
Emanuel Terry              2
Justin Holiday             2
Iman Shumpert              2
DeAndre Jordan             2
Sam Dekker                 2
Kelly Oubre Jr.            2
                          ..
Luol Deng                  1
Khem Birch                 1
LaMarcus Aldridge          1
Khris Middleton            1
Khyri Thomas               1
Klay Thompson              1
Kobi Simmons               1
Kosta Koufos               1
Kostas Antetokounmpo       1
Kris Dunn                  1
Kyle Anderson              1
Kyle Kuzma                 1
Kyle Lowry                 1
Kyle O'Quinn               1
Kyrie Irving               1
Lance Stephenson           1
Luke Kornet                1
Lance Thomas               1
Langston Galloway          1
Larry Nance Jr.            1
Lauri Markkanen            1
LeBron James               1
Lonnie Walker IV           1
Lonzo Ball                 1
Lorenzo Brown              1
Lou Williams               1
Luc Mbah a Moute           1
Luka Doncic                1
Luke Kennard               1
Aaron Gordon               1
Length: 530, dtype: int64

In [432]:
# tutoria answer
g3_df = df.groupby('TEAM_ABBREVIATION')['DISPLAY_FIRST_LAST'].value_counts().unstack().fillna(0).astype(bool).sum()
g3_df[g3_df>=3]

DISPLAY_FIRST_LAST
Alec Burks         3
Andrew Harrison    3
Greg Monroe        3
Isaiah Canaan      3
Jason Smith        3
Wesley Matthews    3
dtype: int64

## 7:

Find the player who scored the least amount of points while playing in at least 40 games last season.

In [334]:
dff_2 = dff.groupby(['DISPLAY_FIRST_LAST']).sum()

In [335]:
dff_1 = dff.groupby(['DISPLAY_FIRST_LAST']).count()

In [336]:
dff_1.drop(columns=['AST','BLK','DREB','Game_ID','MIN','PTS','REB','TEAM_ABBREVIATION'], inplace = True)

In [337]:
dff_1.rename(columns={'PERSON_ID': 'GAMES_PLYD'}, inplace = True)

In [338]:
dff_1 = dff_1.apply(list).apply(pd.Series) #convert grouby object to dataframe

In [339]:
dff_2 = dff_2.apply(list).apply(pd.Series)

In [340]:
dff_3 = pd.merge(dff_1, dff_2, on = 'DISPLAY_FIRST_LAST')

In [341]:
dff_3[dff_3['GAMES_PLYD'] >=40].sort_values(by ='PTS')

                       GAMES_PLYD  PERSON_ID  AST  BLK  DREB   MIN   PTS  REB
DISPLAY_FIRST_LAST
Sindarius Thornwell            64  104218496   18    7    39   318    62   44
Guerschon Yabusele             41   66740784   15    7    30   254    94   53
Quincy Pondexter               53   10724391   24    1    38   286    98   46
Jose Calderon                  49    4957869  115    3    49   635   113   60
Jarell Martin                  42   68299770   18    8    62   331   115   73
Ekpe Udoh                      51   10318677   28   31    63   319   119   90
Svi Mykhailiuk                 42   68418168   37    1    27   443   133   36
Gary Clark                     51   83084559   18   26    92   637   148  116
Nene                           42     100926   26   15    89   544   151  123
Jon Leuer                      41    8311520   14    4    70   404   156   97
Kosta Koufos                   42    8466570   36   18   125   502   156  177
Kyle O'Quinn                   45    9140580   56   25    90   370   156  119
Ryan Broekhoff                 42   68424342   22    4    55   456   167   63
Tyson Chandler                 55     120945   37   23   215   876   173  307
Justin Anderson                48   78055056   23   13    60   461   178   84
Marquese Chriss                43   69992691   22   11   102   499   182  142
Semi Ojeleye                   56   91190400   23    4    62   597   186   86
Hamidou Diallo                 51   83077827   17   10    59   527   190   97
Thabo Sefolosha                50   10037850   27    5   115   612   190  123
Solomon Hill                   44    8955056   55   10    99   875   191  133
Dante Cunningham               64   12925888   50   13   140   928   194  188
Glenn Robinson III             47    9584334   21    8    54   608   198   71
Amir Johnson                   51    5159211   60   13   100   530   201  147
Lance Thomas                   46    9314908   27    7    96   784   205  117
Jonah Bolden                   44   71650172   40   39   118   641   207  165
Moritz Wagner                  43   70047903   24   13    68   447   207   85
Devonte' Graham                46   74933264  121    2    53   679   217   63
Tyrone Wallace                 62  100924840   42    7    81   627   218  101
Jordan Bell                    68  110730860   76   51   129   791   223  184
TJ Leaf                        58   94446504   24   19    82   522   225  125
...                           ...        ...  ...  ...   ...   ...   ...  ...
Zach LaVine                    63   12845511  283   26   254  2170  1492  294
Lou Williams                   75    7586250  402   11   182  1992  1498  222
LeBron James                   55     139920  454   33   408  1936  1505  465
Luka Doncic                    72  117290088  429   25   477  2322  1526  563
Trae Young                     81  131951187  653   15   237  2503  1549  301
Julius Randle                  73   14887912  229   45   472  2233  1565  634
Kyrie Irving                   67   13579627  464   34   264  2219  1596  335
Kawhi Leonard                  60   12161700  199   24   361  2039  1596  439
Nikola Jokic                   80   16319920  580   55   637  2506  1604  865
DeMar DeRozan                  77   15549534  475   36   408  2687  1635  462
Tobias Harris                  82   16621318  229   37   576  2849  1644  645
Nikola Vucevic                 80   16215680  307   89   736  2512  1665  960
Russell Westbrook              73   14714318  784   33   698  2634  1675  807
Klay Thompson                  78   15809898  186   47   262  2655  1680  299
Buddy Hield                    82  133474762  205   33   306  2615  1695  412
Devin Booker                   64  104074496  433   13   226  2241  1700  265
D'Angelo Russell               81  131718636  563   20   262  2451  1712  315
LaMarcus Aldridge              81   16260426  194  107   493  2689  1727  744
Joel Embiid                    64   13053056  234  122   711  2157  1761  871
Donovan Mitchell               77  125385106  322   31   257  2598  1829  316
Blake Griffin                  75   15144975  402   28   465  2619  1841  565
Karl-Anthony Towns             77  125214089  259  125   691  2545  1880  954
Stephen Curry                  69   13933791  361   25   324  2328  1881  369
Giannis Antetokounmpo          72   14652504  424  110   739  2359  1994  898
Kevin Durant                   78   15689076  457   84   464  2703  2027  497
Damian Lillard                 80   16246480  551   34   303  2837  2067  371
Bradley Beal                   82   16652396  448   58   322  3027  2099  411
Kemba Walker                   82   16620498  484   34   309  2867  2102  361
Paul George                    77   15579487  318   34   523  2844  2159  628
James Harden                   78   15750930  586   58   452  2870  2818  518

[353 rows x 8 columns]

In [419]:
#tutorial asnwer:
players = df.groupby(['DISPLAY_FIRST_LAST']).agg({'DISPLAY_FIRST_LAST': 'count', 'PTS': 'sum'})
psble_players = players.loc[players.DISPLAY_FIRST_LAST > 40]
worse_player = psble_players.loc[psble_players.PTS == psble_players.PTS.min()]
worse_player

                     DISPLAY_FIRST_LAST  PTS
DISPLAY_FIRST_LAST
Sindarius Thornwell                  64   62

In [435]:
dff.groupby('DISPLAY_FIRST_LAST')['PTS'].apply(lambda x: pd.Series(np.where(x>40, int)x.sum()), np.nan())

SyntaxError: invalid syntax (<ipython-input-435-e6c4ecba34d5>, line 1)

# Part 4: Pandas and Probability

## 8: 

What is the probability that a random player had a game where they scored more than 40 points?

In [443]:
str(round((len(dff[dff.PTS > 40])/len(dff))*100,2))+'%'

'0.42%'

## 9:

What is the probability that a randomly selected player from last season would average more than 20 points per game?

In [444]:
player_grouped = dff.groupby('DISPLAY_FIRST_LAST')

In [446]:
np.sum(player_grouped['PTS'].mean()>20)/530 # 530 is total of uniq players

0.062264150943396226

# Advanced Questions

## 10: 
Find the player who scored the least amount of points while playing in at least 40 games and averageing at least 15 minutes per game last season.

In [454]:
#your code here
player_grouped.aggregate({'PERSON_ID' :'count','MIN':'mean','PTS':'sum'}).query('PERSON_ID >= 15')

                     PERSON_ID        MIN   PTS
DISPLAY_FIRST_LAST
Aaron Gordon                78  33.705128  1246
Aaron Holiday               50  12.900000   294
Abdel Nader                 61  11.393443   241
Al Horford                  68  28.970588   925
Al-Farouq Aminu             81  28.271605   760
Alec Burks                  64  21.546875   561
Alex Abrines                31  18.935484   165
Alex Caruso                 25  21.240000   229
Alex Len                    77  20.103896   854
Alex Poythress              21  14.476190   107
Alfonzo McKinnie            72  13.930556   337
Allen Crabbe                43  26.372093   413
Allonzo Trier               64  22.812500   695
Amir Johnson                51  10.392157   201
Andre Drummond              79  33.493671  1370
Andre Iguodala              68  23.161765   389
Andrew Harrison             17  10.941176    54
Andrew Wiggins              73  34.794521  1321
Anfernee Simons             20   6.950000    75
Ante Zizic                  59  18.372881   459
Anthony Davis               56  33.053571  1452
Anthony Tolliver            65  16.630769   326
Antonio Blakeney            57  14.561404   418
Aron Baynes                 51  16.117647   284
Austin Rivers               76  26.657895   618
Avery Bradley               63  30.253968   625
Bam Adebayo                 82  23.268293   729
Ben McLemore                19   8.263158    75
Ben Simmons                 79  34.126582  1337
Bismack Biyombo             54  14.518519   236
...                        ...        ...   ...
Trey Lyles                  64  17.468750   546
Tristan Thompson            43  27.767442   470
Troy Brown Jr.              52  14.000000   248
Troy Daniels                51  14.901961   318
Troy Williams               21  15.000000   111
Tyler Dorsey                48  14.562500   296
Tyler Johnson               57  26.912281   619
Tyler Lydon                 25   3.800000    23
Tyreke Evans                69  20.318841   706
Tyrone Wallace              62  10.112903   218
Tyson Chandler              55  15.927273   173
Tyus Jones                  68  22.911765   468
Victor Oladipo              36  31.972222   675
Vince Carter                76  17.447368   562
Wade Baldwin IV             16   5.937500    30
Wayne Ellington             53  24.452830   545
Wayne Selden                75  19.146667   514
Wendell Carter Jr.          44  25.272727   455
Wes Iwundu                  68  18.088235   339
Wesley Johnson              38  14.157895   128
Wesley Matthews             69  30.289855   840
Will Barton                 43  27.651163   494
Willie Cauley-Stein         81  27.358025   965
Willy Hernangomez           58  14.000000   421
Wilson Chandler             51  23.078431   305
Yogi Ferrell                71  15.098592   420
Yuta Watanabe               15  11.733333    39
Zach Collins                77  17.571429   512
Zach LaVine                 63  34.444444  1492
Zaza Pachulia               68  12.926471   267

[447 rows x 3 columns]

## 11: 
Which player scored the largest share of points for their team throughout the season.

In [450]:
team_player = df.groupby(['TEAM_ABBREVIATION', 'DISPLAY_FIRST_LAST']).agg({'PTS':'sum'})

In [451]:
team_player.groupby(level=0).apply(lambda x:x /float(x.sum()))

                                           PTS
TEAM_ABBREVIATION DISPLAY_FIRST_LAST
ATL               Alex Len            0.091887
                  Alex Poythress      0.011513
                  BJ Johnson          0.002260
                  Daniel Hamilton     0.006133
                  DeAndre' Bembry     0.073919
                  Dewayne Dedmon      0.074564
                  Deyonta Davis       0.003873
                  Isaac Humphries     0.001614
                  Jaylen Adams        0.011620
                  Jeremy Lin          0.058748
                  John Collins        0.127824
                  Jordan Sibert       0.000323
                  Justin Anderson     0.019152
                  Kent Bazemore       0.083818
                  Kevin Huerter       0.078223
                  Miles Plumlee       0.008608
                  Omari Spellman      0.029266
                  Taurean Prince      0.079836
                  Trae Young          0.166667
                  Tyler Dorsey        0.009684
                  Tyler Zeller        0.000000
                  Vince Carter        0.060469
BKN               Alan Williams       0.001956
                  Allen Crabbe        0.044872
                  Caris LeVert        0.059431
                  D'Angelo Russell    0.186006
                  DeMarre Carroll     0.080834
                  Dzanan Musa         0.002064
                  Ed Davis            0.051282
                  Jared Dudley        0.031182
...                                        ...
UTA               Royce O'Neale       0.046501
                  Rudy Gobert         0.140159
                  Thabo Sefolosha     0.020740
                  Tony Bradley        0.001856
                  Tyler Cavanaugh     0.000982
WAS               Austin Rivers       0.022460
                  Bobby Portis        0.042781
                  Bradley Beal        0.224492
                  Chasson Randle      0.028984
                  Devin Robinson      0.005027
                  Dwight Howard       0.012299
                  Gary Payton II      0.001176
                  Ian Mahinmi         0.014866
                  Jabari Parker       0.040000
                  Jason Smith         0.004706
                  Jeff Green          0.101176
                  John Jenkins        0.000642
                  John Wall           0.070909
                  Jordan McRae        0.017112
                  Kelly Oubre Jr.     0.039893
                  Markieff Morris     0.041818
                  Okaro White         0.000000
                  Otto Porter Jr.     0.055401
                  Ron Baker           0.000000
                  Sam Dekker          0.024599
                  Thomas Bryant       0.081070
                  Tomas Satoransky    0.075829
                  Trevor Ariza        0.064706
                  Troy Brown Jr.      0.026524
                  Wesley Johnson      0.003529

[622 rows x 1 columns]

## 12:

What is the probability that a randomly selected player had at least one game in which they scored 40 points last season.

In [453]:
# your code here numerator = no of players that played 40 games /  number of uniq players
len(df.loc[df['PTS']>=40]['DISPLAY_FIRST_LAST'].unique())/len(df['DISPLAY_FIRST_LAST'].unique())

0.06981132075471698

## 13: 

A double-double is when a player records for any of the two follow categories: points, rebounds, assists, steals, or blocks. 
What is the probability that a randomly selected player had a double-double in a game last season?

In [ ]:
#your code here

## 14:

What is the probability that a randomnly selected game had a player record a triple-double in that game?

In [ ]:
#your code here

# Part 5: Super Duper Challenge

## 15:

How many players last season averaged more points per game than their career average?